.viewer-container {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.viewer-title {
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
}

.viewer-container canvas {
	display: block;
}